# mean depth estimator

# model
model		   mean_depth_estimator
examples       64
m_arch         E2
g_arch         E2
d_arch         E2

# data
dataset		         nyuv2
n_threads            6
# skip_invalid
#resize               53 70
random_crop          64 64
include_originals    53 70
include_location

# training
epochs		   10
batch_size 	   64
n_gpus 		   2
optimizer	   adam
lr			   1e-5
beta1		   0.5


