# improved sampler gan

# model
model		   improved_sampler
examples       64
g_arch         D1
d_arch         D1


# data
dataset		   nyuv2
random_crop    64 64
n_threads      6
skip_invalid
resize         427 561
include_location

# training
epochs		   100
batch_size 	   512
n_gpus 		   2
optimizer	   adam
lr			   1e-5
beta1		   0.5

