# mean depth estimator

# model
model		   mean_depth_estimator
examples       64
m_arch         E1

# data
dataset		   nyuv2
n_threads      6
# skip_invalid
# resize         213 280
# resize         106 140
resize           53 70

# training
epochs		   100
batch_size 	   64
n_gpus 		   2
optimizer	   adam
lr			   1e-5
beta1		   0.5

