# pix2pix model with no batch norm in discriminator,
# no reconstruction loss, and a noise vector

# data
dataset		   nyuv2
#cache_dir	   tmp/256x256
random_crop    256 256
n_threads      6
skip_invalid


# training
epochs		   50
batch_size 	   1
n_gpus 		   2
optimizer	   adam
lr			   1e-4
beta1		   0.5
check_numerics

# model
model		   pix2pix
n_disc_train   1
skip_layers
batch_norm_gen
noise          input
examples       1