dataset		   nyuv2
#cache_dir	   tmp/256x256
random_crop    256 256
n_threads      6
skip_invalid

model		   pix2pix
skip_layers
batch_norm_gen
batch_norm_disc
add_l1
examples       1

epochs		   50
batch_size 	   1
n_gpus 		   2
optimizer	   adam
lr			   1e-4
beta1		   0.5
dropout        0.5
n_disc_train   1
check_numerics




